*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.lending{
    background: url(./lending1.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.lending h1{
    text-align: center;
    font-size: 60px;
    padding-top: 200px; 
    color: snow;
}
.lending p{
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    color: snow;
    font-style: oblique;
}
button{
    padding: 10px 30px;
    background-color: snow;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 20px;
    font-size: 20px;
    margin-left: 45%;
}